/* シングルカラムレイアウト */
section.column01 {
    height: 100vh;
}

.header01 {
    background: #fcf;
    height: 80px;
}

.nav {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.navigation {
    float: left;
    margin-left: 15px;
    list-style: none;
    line-height: 2;
}

main.main01 {
    background: #1e0;
    height: 80%;
}

footer.footer01 {
    background: #5a8;
    height: 54px;
}

/* マルチカラムレイアウト */
section.column02 {
    height: 100vh;
}

header.header02 {
    background: #4f9;
    height: 100px;
}

main.main02 {
    display: flex;
    height: 400px;
}

article.contents {
    background: #7ff;
    width: 60%;
}

aside.side {
    background: blue;
    width: 40%;
}

footer.footer02 {
    background: #28a;
    height: 230px;
}

/* グリッドレイアウト */
section.column03 {
    height: 100vh;
}

header.header3{
    background: #5d6;
    height: 20px;
}

.pictures {
    text-align: center;
}

main.main3{
    background:#6ab;
}

.grid {
    width: 100%;
    margin: 0 auto;
    column-count: 3;
}

img.item {
    width: 28%;
}

footer.footer03{
    background: aqua;
    height: 196px;
}

